
/******************
    VARIABLES
 ******************/
:root {
    --darkviolet: #3D1D49;
    --body-background: #EEEEEE;
    --darkred: #BC3C5E;
    --lightred: #C74D6D;
    --graytext: #4A4A4A;
    --lightgraytext: #919192;
    --dashedborder: #ACACAC;
    --green: #7EA05C;
    --brickred: #D75D46;
}

/****************************
    Left navigation Bar
**************************** */

.LeftNavigationTDContainer .uiCompanyNavigations li a i{
    padding-bottom: 0!important;
    font-weight: normal!important;
    font-size: 16px!important;
    padding: 0!important;
}